/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format("woff");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format("woff");
  }
}